<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>7 for all mainkind</string>
		<key>name</key>
		<string>7 For All Mankind</string>
		<key>detail</key>
		<string>品牌昵称：Sevens

品牌评价：洗掉粗豪感的美国牛仔。

发源地：美国加州

成立年份：2000年

官方网站：http://www.7forallmankind.com

品牌历史：

    				2000年的秋冬，在美国加州的一个小城市 Vernon，年轻的设计师 Peter Koral 已拥有自己的公司“Koral Industries”，事业得意。Peter 眼光敏锐， 发现一般人对牛仔裤的印象仍停留在耐穿和实用性上，却忽略了牛仔裤可以和时尚画上等号。Peter 在2000年创建了高端牛仔品牌 7 for All Mankind，设计出制作用料精堪、细节讲究的牛仔裤，所有布料皆进口自日本和欧洲，设计、剪裁、洗色、缝制等，一律在美国以人工完成，在好莱坞这个时尚汇集地立即吸引了明星名流的拥戴。有明星的示范效应， 7 for All Mankind 发展速度快得惊人，可算是当今时装界一颗最夺目耀眼、最令人惊喜的新彗星。

				7 for All Mankind 一开始只为女性设计，以恰到好处的合身线条、特殊刷色、透气材质以及对每个小细节的留意，完全颠覆人们对一般牛仔裤硬梆梆、刻板板的印象；除了剪裁修身，最值得一提的还有 7 for All Mankind 如水墨画晕染的特殊刷色，有一种中性的潇洒风味和人文气质，对于牛仔迷而言，这似乎更令人着迷。眼尖的人，甚至一望那刷色即可辨 识裤子出自7 for All Mankind 之手。2002年后，7 for All Mankind 也开始设计男性牛仔裤，小甜甜布兰妮就曾经被媒体拍到她和BF穿着同款 7 for All Mankind 裤子。

    				因为好莱坞明星爱穿，7 for all Mankind 已培养无数粉丝，主要特色在臀后，不同口袋代表不同裤型，共分五款，以靴型裤为主，还推出一中喇叭裤，剪裁强调包臀、中腰线，即使宽臀都穿的出”翘“丽曲线；Yanuk 以小喇叭与靴型裤为主，品牌目标是”让妳爱上自已臀部“！7 for all Mankind 除了有提臀神力之外，还爱玩刷旧脏污，后口袋常发展出各式不同形式的车线纹，甚至民俗风扑鼻的刺绣细节。至今，“7 for All Mankind”已在全球超过三十五个国家或地区有经销商。

    				牛仔裤的发源地是美国，涌现过不少经典牌子。但由于全球各地设计人才并起，令世界各地出现许多优质品牌，尤以意大利和日本最为突出。备受后进的威胁下，现今美国终于有一个主打高级时装市场的品牌了。洗去了美国味道的粗豪感，加添两三分欧洲时装感，这个美国品牌为美国牛仔裤开辟了一片新天空。

    				除去早先走红的女式牛仔以外，7 for all mankind 更添加了男式牛仔、童装、包包皮具系列，都很受欢迎。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>45rpm</string>
		<key>name</key>
		<string>45rpm</string>
		<key>detail</key>
		<string>								45rpm在日本的牛仔裤品牌中是享有盛名的巨擘，自1977年在日本的时尚重地南青山创立以来，以极高的品质和卓绝的设计成为人气无可抵挡的超级品牌。”indigo”蓝染工艺是45rpm最大的特色。

								45rpm的牛仔裤在后袋的位置一般都绣有手工加工的“R”字袋花。作为众多系列里最有人气的主打，一般熟悉45rpm品牌的人都会很习惯地将“R by 45rpm”视为招牌。天然蓝染中的极品作品，莫过于“绳文蓝（JOMON）”系列。

								45rpm这个名称来自于40回转甜圈圆盘，所有裤子的布料全部选用日本最顶级的牛仔布料，贴身穿着绝无普通牛仔裤的沉闷憋气感。尤其特别的是，裤子表面具有天然形成的凹凸感，这是由于在制作裤子时候采用了日本传统的特蓝染色技术所造成的。100%纯天然的布料和上色持久对皮肤无刺激的Indigo染料，使得45rpm的每一条裤子都需要相当漫长的加工时间。因此在45rpm的工厂，专业的牛仔裤裁缝师往往在一个月内，也仅能生产出5条左右的裤子。

								此外，45rpm坚持使用手工印染和裁剪的原因，还在于只有用手工才能制造出45rpm牛仔裤所特有的褶皱。这种褶皱会舒适地服帖在穿着者的皮肤上，让穿着者能够自由地掌控裤子的线条，让牛仔裤在日常生活中随时间的推移而越发适合自己的腿型，因此连时装大师Giorgio Armani都曾在公开场合大肆赞扬45rpm的制裤技艺，称之为“完全个人化的牛仔裤”。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Calvin Klein jeans</string>
		<key>name</key>
		<string>Calvin Klein jeans</string>
		<key>detail</key>
		<string>								CK Jeans (Calvin Klein Jeans) 是美国设计师品牌CK旗下的牛仔品牌。CK Jeans (Calvin Klein Jeans) 设计风格简约，图案和色彩经常推陈出新，剪裁注重彰显线条美感，追求玲珑有致的效果。CK Jeans (Calvin Klein Jeans) 宣扬天真纯净的心灵，自信积极、充满活力和简约清新的感觉。众多不同的色彩、图案和布料质感，也为CK JEANS迷不断带来惊喜。

								Calvin Klein是美国第一大设计师品牌，曾经连续四度获得知名的服装奖项；旗下的相关产品更是层出不穷，声势极为惊人。 Calvin Klein一直坚守完美主义，每一件Calvin Klein时装都显得非常完美。因为体现了十足的纽约生活方式，Calvin Klein的服装成为了新一代职业妇女品牌选择中的最爱。 

								卡尔文·克莱恩（Calvin Klein）创始人Calvin Klein 1942年出生于美国纽约，就读于著名的美国纽约时装学院(F.I.T)，1968年创办Calvin Klein“卡文克莱”公司。 Calvin Klein 是当之无愧为全美最具知名度的时装设计师。其产品范围除了高档次、高品位的经典之作外，克莱恩同时还是那些以青年人为消费对象的时髦的无性别香水和牛仔服装的倡导者。 

								卡尔文·克莱恩（Calvin Klein）有Calvin Klein（高级时装）、CK Calvin Klein（高级成衣）、Calvin Klein Jeans（牛仔）三大品牌，另外还经营休闲装、袜子、内衣、睡衣、泳衣、香水、眼镜、家饰用品等。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lee</string>
		<key>name</key>
		<string>Lee</string>
		<key>detail</key>
		<string>								Lee品牌是一个创建于1889年的美国著名牛仔裤品牌，追求实用与时尚，创造了经典的吊带工人裤，生产了世界上第一条拉链牛仔裤，凭着其首创及经典设计，LEE牛仔裤成为牛仔裤坛的经典与权威，被誉为世界三大牛仔裤品牌之一。另外有同名模型公司上海西西利模型有限公司简称为LEE。下面一起看下Lee牛仔裤的品牌故事。

　　								1889年，H.D. Lee Mercantile公司在美国堪萨斯创立了Lee牌牛仔裤。一百多年历史中，Lee始终锐意创新，取得众多历史性突破，在牛仔服装从实用走向时尚的过程中，扮演了至关重要的角色。保存传统，同时创新时尚，Lee在牛仔时尚界占得领军地位，被誉为牛仔文化的经典。
　　								1911年
　　								H. D. Lee先生看到了耐穿工作服市场的巨大潜力，推出第一款具有保护性的Lee Bib工装裤，独具匠心的多口袋设计不但方便了工人工作，也成为Lee的经典款之一。
　　								1920年
　　								Lee的销售经理Chester Reynolds设计了Buddy Lee，最初只是供明尼阿波利斯Dayton’s百货商店的橱窗展示用;不料这个娃娃广受欢迎，竟然成为Lee的形象代表，出现在各种印刷品与电视广告中，成为世界各地Lee的fans们争相收藏的纪念品。

　　								1924年
　　								为巩固其在工装裤领域的领军地位，Lee引进了一种13盎司的重磅丹宁布，为追求高质量的顾客，如铁路工人和海员，专门制作了一款牛仔裤。这便是鼎鼎大名的101系列。时至今日，它依然盛行不衰。
　　								1926年
　　								Lee发明了世界上第一条带拉链的牛仔裤101Z系列。从此工人们无需为解掉牛仔裤上的纽扣而烦恼。
　　								1936年
　　								著名的马毛真皮拼贴(即所谓大皮牌)开始出现在牛仔裤后腰位置上。这个大皮牌很快变成Lee的重要标志，成为LEE独家身份认证。同时，牛仔时装的概念开始流行，Lee推出经典的骑士牛仔外套和牛仔裤，继而销量大增。
　　								1943年
　　								Lee开创了后袋上的S形车缝线，远看犹如一对美洲野牛角。它和大皮牌一样，成为Lee纯正血统的标志。
　　								1949年
　　								随着越来越多的女性参与工作，女装革命也随即展开。Lee抓住时机进军女装市场，推出女装牛仔裤Lady Lee Rider。
　　								1969年
　　								Lee被具有丰富服装行业经验的VF Corporation收购，开始进军国际市场，相继进入苏格兰，比利时，西班牙，巴西，澳洲和香港等市场。
　　								1995年
　　								Lee正式登陆中国。经过12年的努力， Lee和它的目标消费者―――时尚、创新的年轻一代，建立了密切的联系。
　　								2004年
　　								Lee隆重再现经典101系列。有着100年的历史和制作经验的101系列，无论款式，布料，剪裁还是手工，每个细节均精心打造，无愧为Lee家族经典系列中的杰作。与此同时，Lee还推出了X-Line系列，对传统的五袋款式进行了全新演绎。

　　								LEE 牛仔裤从诞生到现在，已经有超过一百年的历史。凭着其首创及经典设计，LEE牛仔裤成为牛仔裤坛的经典与权威，被誉为世界三大牛仔裤品牌之一。LEE牛仔裤 以其简洁纯粹的风格吸引了全球追求时尚男性的目光，代表了欧洲时尚潮流的男装品牌。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>levi&apos;s</string>
		<key>name</key>
		<string>Levi&apos;s</string>
		<key>detail</key>
		<string>								Levi&apos;s（李维斯）是来自美国西部最闻名的名字之一。李维斯（Levi&apos;s）是著名的牛仔裤品牌，作为牛仔裤的鼻祖，象征着美国野性、刚毅、叛逆与美国开拓者的精神。1853年犹太青年商人Levi Strauss（李维·斯特劳斯）为处理积压的帆布试着做了一批低腰、直筒、臀围紧小的裤子，卖给旧金山的淘金工人。由于这种裤子比棉布裤更结实耐磨而大受欢迎。李维开了一家专门生产帆布工装裤的公司，并以自己的名字“Levi&apos;s”作为品牌，Levi&apos;s（李维斯）的神话也由此展开它历经一个半世纪的风雨，从美国流行到全世界，并成为全球各地男女老少都能接受的时装。靛蓝牛仔斜纹布、腰后侧的皮章、裤后袋上的弧线、铆钉、独有的红旗标等都是李维斯的特点。

								LEVI STRAUSS原籍为德国，1847年发迹于美国三藩市，当时以卖帆布维生。后来发觉当地矿工十分需要一种质地坚韧的裤子，于是他把原来造帐幕的啡色帆布造了一批裤子，卖给了当地矿工，而后十分成功。LEVI STRAUSS眼见成绩理想，便迅速成立了LEVI&apos;S STRAUSS AND CO.，主力生产牛仔裤，而LEVI&apos;S的神话由此展开。[1]
LEVI&apos;S王国的成功，要算是由LEVI&apos;S 501开始，501的诞生是当LEVI STRAUSS在1873年与另一伙人JACOB DAVIS 把他们生产的扣钮牛仔裤上所用的“撞钉”注册专利。当时的501是一种缩水后十分合身的的效果，极受当时工人们的欢迎。因此有人认为LEVI&apos;S牛仔裤是早年有助於建设美国梦的产物。三十年代的牛仔裤全是扮演工作服的角色，不过遂有趋向於便服的倾向，但仍以实用设计为主。六十年代，LEVI&apos;S王国在欧洲大幅拓展业务，随后便席卷了整个欧陆，销售额与名气随之暴升。

								牛仔裤文化发展至七十年代已是全球性的集体潮流．在款式上变化上有突破性的演变。由传统的直脚款式，变化出阔角裤、喇叭裤来。又由喇叭裤演变至八十年代的萝卜裤。牛仔裤的外型变化，在七、八十年代可说是各走极端。LEVI&apos;S这段期间，在款式演变上一直有跟进潮流。而踏入八十年代后期，牛仔裤由以前讲究合身贴服，进化为追求原始牛仔裤味道的直身裁剪，此风一起，LEVI&apos;S 501又掀起了另一个牛仔裤潮流，连带九十年代也受此潮流影响。

								除501再次回流外，LEVI&apos;S的现代系列中也有三大分支，分别以不同颜色商标小旗做区分。“红旗”为反对过分贴身的追寻原本的时尚而设(501也算在内)；“银旗”推销“现代基本”的款式：特别讲究高品质和洗水过程及制作效果；“橙旗”除基本款式外，还发展其他时髦款式，是一系列质料上呈紧贴潮流的产品。
								LEVI&apos;S的神话由1847年至今已超越一个半世纪，是牛仔文化的一项奇迹，这个神话还在继续。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wrangler</string>
		<key>name</key>
		<string>wrangler</string>
		<key>detail</key>
		<string>世界三大牛仔裤品牌之一Wrangler牛仔裤，是一个源于美国西部的品牌，中文名威格。随着时代的变迁，它已发展成为粗犷中具有自信、传统经典中带有真正的美国西部精髓和时尚风格。

								Wrangler 13MWZ牛仔裤诞生于1947年，为著名牛仔服设计师Rodeo Ben所设计，由于设计师本身就是牛仔，故其设计的13MWZ绝对是针对美国西部牛仔实际的需要，其独特设计堪称为经典的“Cowboy cut”。7个裤耳令穿着后皮带受力平均，而且全裤身紧贴腰部，上衣不会轻易露出裤外。13MWZ以及整个Authentic系列牛仔裤的一个特别之处就是后裤袋上象征“Wrangler”的“W”车线，已经成为Wrangler的经典标致。

								1904年，Blue Bell Overall Company公司成立，推出了工作服形式的牛仔裤，并命名为&quot;Wrangler&quot;牌牛仔裤。1926年，Blue Bell公司与工作服制造公司Big Ben Manufacturing Company合并，并致力于牛仔路线，创造了蓝牛仔裤的西部形象之典范。最早的Wrangler牛仔裤被称为11MW（Men`s Western），主要以西部驯马比赛赛手（Rodeo）为形象标。Wrangler牛仔裤与Lee牛仔裤的最大区别就在于，Wrangler在后袋以&quot;W&quot;形明缉线取代了双拱式装饰明缉线。40年代初50年代末，Blue Bell公司投入大量资金在好莱坞的有关西部的电影上作宣传，这使得Wrangler的知名度大大递增，还受到好莱坞驯马影片巨星Rodeo Ben的宠爱。50年代早期，Wrangler首次在电视节目上推出黑色丹尼衬衫与黑色牛仔裤。


								现在的Wrangler与LEE是属于同一公司VF集团旗下的两个品牌，而且在同一工厂（广东台山）生产。
</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Genetic Denim</string>
		<key>name</key>
		<string>Genetic Denim</string>
		<key>detail</key>
		<string>								Genetic Denim，美国牛仔新贵，于2006年所创立，号称是the softest jeans of all，因坚持使用自行研发的丹宁布以及创新水洗技术而受到瞩目，从一开始就刮起了一阵好莱坞旋风，迅速在竞争激烈的牛仔裤品牌中脱颖而出，是众多好莱坞明星和名媛现在狂热追逐的牛仔品牌之一，连许多时尚主编也都赞不绝口的柔软牛仔裤。Genetic Denim顺应流行趋势不断更新裤型，让品牌一直保有高人气。力推个性与时尚感，对牛仔布料的印染和水洗等不断进行创新是这个品牌的精髓。

								Genetic中文的意思是“基因”。创始人认为女人衣柜里最不可缺的就是牛仔裤，就如人体最重要的元素是基因一样，你无法选择完美的基因，却可以选择完美的Jeans。创始人认为一条牛仔裤最重要的部份是在腰部跟臀部这三寸的地方。好的牛仔裤应采用毫无压迫感的舒适柔软布料和天衣无缝的完美版型，让穿的人能修饰到身材，并且凸显出自我的风格。 Genetic Denim自创立起，即以标志性的软弱面料、漂亮的轮廓和难以置信的合身度被认可。创造出新颖而现代和经典的系列，同时也延续所有优秀剪裁，结构和面料来迎合不同人的口味。

								喜欢Genetic Denim的好莱坞明星明媛有Cameron Diaz、Jessica Alba、Sienna Miller、Paris Hilton、Ashlee Simpson、emma roberts、jessica biel、ashley tisdale、jennifer garner、reese witherspoon、halle berry、Shakira、hilary duff、heidi montag等等，数不胜数。

								Genetic Denim的每一条裤子均可堪称经典，完美的裤形、舒适的面料、精致的做工和出色的水洗，势必成为你值得珍藏的极品。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Hudson</string>
		<key>name</key>
		<string>Hudson</string>
		<key>detail</key>
		<string>								Hudson牛仔以精细的做工和完美的剪裁著称，她也是很多名星和社会名流钟爱的牛仔品牌。创建于90年代初期的Hudson还以其标志性的V字型后口袋而著名。和强调舒适经典Citizen，Seven，Joe&apos;s等品牌不同，Hudson有许多不同的设计风格，所以对那些想要追求高端牛仔时尚风格但却不想费太多银子的消费者来说，Hudson是最合适的选择了。 一条普通的Hudson牛仔裤至少要$150。

								Byron的直筒被Hudson称为最经典的直筒。Byron的大腿围要求也不低，跟Diese类似，但是小腿围要比Larkee的小腿围更紧，膝盖也更紧。。Hudson喜欢用弹力材料，这点我非常喜欢。有弹力的Hudson，可以抛弃皮带，轻薄的款式在夏天穿，活动舒适度跟运动裤有一拼。
								Hudson牛仔是少数美国本土生产的品牌，钢铁侠也是hudson的裤友。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Jordache</string>
		<key>name</key>
		<string>Jordache</string>
		<key>detail</key>
		<string>								JORDACHE牛仔裤是纽约的一家折扣品牌牛仔裤服装店，建立于1977年。现在，JORDACHE已设计生产出多款种类的丹宁布料、服饰与配件，还扩展至全球市场，旗下并有Earl Jean、U.S. Polo Association、KIKIT、Maurice Sasson、Fubu Ladies、Airport、Blue Star以及Gasoline等服饰品牌，另外还帮其他知名品牌生产单宁布料，如:Gap、Tommy Hilfiger、Levi`s和Abercrombie &amp; Fitch等品牌的用料，都可以见识到JORDACHE布料的品质，以及剪裁丹宁牛仔裤的独创功力。

								1977年Nakash三兄弟以三人的名字与家族姓氏的重新组合，注册登记了JORDACHE这个品牌。1978年正式进入了牛仔裤零售市场。1980年10月8日，JORDACHE有架小型宣传飞机，因设计不良於新泽西州撞毁，却也为该品牌制造了另类又超抢版面的广告效果。
								1979年时，JORDACHE已卖出超过300万件牛仔裤；到了1981年，每月则可生产出120万条牛仔裤，并销售至全球25个国家。进入80年代，JORDACHE更开发出男装、童装、运动服饰与包包等其他产品线，并开始授权全球其他类别产品如珠宝首饰、内睡衣、行李箱、皮件…等的合作经营，当时授权制造的合作厂商就多达100家，总批发量更高达3亿美元。

								2004年，集团首度发表JORDACHE经典系列来庆祝品牌成立25周年，该系列受到消费者们的高度欢迎，又再度引燃美国流行市场对这个经典品牌的热爱。

								现在，JORDACHE已设计生产出多款种类的丹宁布料、服饰与配件，还扩展至全球市场，旗下并有Earl Jean、U.S. Polo Association、KIKIT、Maurice Sasson、Fubu Ladies、Airport、Blue Star以及Gasoline等服饰品牌，另外还帮其他知名品牌生产单宁布料，如:Gap、Tommy Hilfiger、Levi`s和Abercrombie &amp; Fitch等品牌的用料，都可以见识到JORDACHE布料的品质，以及剪裁丹宁牛仔裤的独创功力。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>J Brand</string>
		<key>name</key>
		<string>J Brand</string>
		<key>detail</key>
		<string>								J Brand由做牛仔生意的Jeff Rudes和造型师Susie Crippen共同创立，二人下决心要创建一个。经典牛仔裤品牌注重细节、款式简洁的J Brand 牛仔裤同时具有性感、有型、舒适的特点。Susie Crippen说：“重要的是 J Brand 牛仔裤把女性衬托得更美丽，而不是让人只注意到这条裤子好看。”

								J Brand 于2005年春正式推出产品，迅速获得了成功。也是在美国第一个大受欢迎的本土牛仔品牌。 J Brand 制作工艺高超，能够抓住流行潮流，一下子就吸引了众多好莱坞明星，尤其是凯特·莫斯 (Kate Moss) 的喜爱，几乎一夜之间便走红。

								2007年5月，又推出了子品牌 Baby J by J Brand 在巴尼斯纽约精品店 (Barneys New York) 销售。

								牛仔裤品牌大都因为好莱坞明星而走红，J Brand 是将牛仔裤“挖”到透彻的品牌，深知大红大紫过的Skinny Jeans本质上是不太舒服也很挑人，所以为求贴身以及穿起来的舒适感， J Brand J Brand 剔除后袋，不做折腾揉韧剪烂开洞，整条牛仔裤干干净净，没有多余的布料接缝，穿起来双腿线条更加纤细，成为当今最炙手可热的Skinny Jeans品牌。

								J Brand 这个被像凯特·莫斯 (Kate Moss) 、凯蒂·赫尔姆斯 (Katie Holmes) 、林赛·罗韩 (Lindsay Lohan) 、妮可·里奇 (Nicole Richie) 等好莱坞女明星一起捧红的牛仔裤品牌风潮还蔓延到了亚洲的日本，日本各大时尚杂志竞相对 J Brand 进行报道。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Blue Cult</string>
		<key>name</key>
		<string>Blue Cult</string>
		<key>detail</key>
		<string>								Blue Cult 是一个来自法国的牛仔裤品牌。以其独特的后袋设计闻名，据说可以让穿着的臀部看起来更挺！很多名人如Gwyneth Paltrow,Kate Hudson都是它的拥护者。适合腿细，苗条的人穿着，有着出众的提臀效果。

								Blue Cult 被誉为出众的弹性靴型裤代表品牌，略为厚实的布料却有着弹性极佳的延展度，穿起来既贴身又舒适，有显著拉长腿部效果；即使搭配身长较长的娃娃装细肩带，整个人的比例看起来依然很完美，且更有女人味。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>James Jeans</string>
		<key>name</key>
		<string>James Jeans</string>
		<key>detail</key>
		<string>品牌昵称：Sevens

品牌评价：洗掉粗豪感的美国牛仔。

发源地：美国加州

成立年份：2000年

官方网站：http://www.7forallmankind.com

品牌历史：

    				2000年的秋冬，在美国加州的一个小城市 Vernon，年轻的设计师 Peter Koral 已拥有自己的公司“Koral Industries”，事业得意。Peter 眼光敏锐， 发现一般人对牛仔裤的印象仍停留在耐穿和实用性上，却忽略了牛仔裤可以和时尚画上等号。Peter 在2000年创建了高端牛仔品牌 7 for All Mankind，设计出制作用料精堪、细节讲究的牛仔裤，所有布料皆进口自日本和欧洲，设计、剪裁、洗色、缝制等，一律在美国以人工完成，在好莱坞这个时尚汇集地立即吸引了明星名流的拥戴。有明星的示范效应， 7 for All Mankind 发展速度快得惊人，可算是当今时装界一颗最夺目耀眼、最令人惊喜的新彗星。

				7 for All Mankind 一开始只为女性设计，以恰到好处的合身线条、特殊刷色、透气材质以及对每个小细节的留意，完全颠覆人们对一般牛仔裤硬梆梆、刻板板的印象；除了剪裁修身，最值得一提的还有 7 for All Mankind 如水墨画晕染的特殊刷色，有一种中性的潇洒风味和人文气质，对于牛仔迷而言，这似乎更令人着迷。眼尖的人，甚至一望那刷色即可辨 识裤子出自7 for All Mankind 之手。2002年后，7 for All Mankind 也开始设计男性牛仔裤，小甜甜布兰妮就曾经被媒体拍到她和BF穿着同款 7 for All Mankind 裤子。

    				因为好莱坞明星爱穿，7 for all Mankind 已培养无数粉丝，主要特色在臀后，不同口袋代表不同裤型，共分五款，以靴型裤为主，还推出一中喇叭裤，剪裁强调包臀、中腰线，即使宽臀都穿的出”翘“丽曲线；Yanuk 以小喇叭与靴型裤为主，品牌目标是”让妳爱上自已臀部“！7 for all Mankind 除了有提臀神力之外，还爱玩刷旧脏污，后口袋常发展出各式不同形式的车线纹，甚至民俗风扑鼻的刺绣细节。至今，“7 for All Mankind”已在全球超过三十五个国家或地区有经销商。

    				牛仔裤的发源地是美国，涌现过不少经典牌子。但由于全球各地设计人才并起，令世界各地出现许多优质品牌，尤以意大利和日本最为突出。备受后进的威胁下，现今美国终于有一个主打高级时装市场的品牌了。洗去了美国味道的粗豪感，加添两三分欧洲时装感，这个美国品牌为美国牛仔裤开辟了一片新天空。

    				除去早先走红的女式牛仔以外，7 for all mankind 更添加了男式牛仔、童装、包包皮具系列，都很受欢迎。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>True Religion</string>
		<key>name</key>
		<string>True Religion</string>
		<key>detail</key>
		<string>								True Religion Jeans (“真实信仰”牛仔) 品牌故事：

							来自加州的Jeffery和Kym，在充满阳光的美国西岸，牛仔裤与音乐占了他们人生大半的位置，这对夫妻文件钟情于牛仔裤的设计，更着迷于摇滚乐的爆发力，两年前创立的牛仔品牌True Religion，将两者做了巧妙的结合，logo上一手竖起大拇指、一手抱着吉他的弥勒佛，传递出的正是两人将牛仔与摇滚视为这辈子最忠实的信仰。

								「东有Chip&amp;Pepper，西有True Religion」，美国的牛仔市场非常独特，每一个品牌的热潮有明显的周期弧线，只要热度和话题性一有消褪，设计师们就会重新包装、端出新菜，推出全新的品牌和想法，True Religion虽然在市场只有两年，但背后负责设计的这对夫妻档，早在之前就有自创品牌问世，设计牛仔裤对他们而言，就是个可以不断玩出新把戏的挑战。

								True Religion的创办人兼设计师Jeffery Lubell，曾在2002年获选为最佳男性牛仔裤设计师，他曾说：「Denim is the staple of the American wardrobe」（美国人的衣橱里，一定少不了牛仔裤），他与他的妻子Kym对于True Religion的期望，就是希望能够建立起一个兼顾视觉与感官的牛仔品牌，而实穿中透露出性感，则是他们赋予牛仔装束的表情，从True Religion的忠实顾客名单中－Cameron Diaz（卡麦蓉狄亚）、Jessica Simpson（洁西卡辛普森）、George Clooney（乔治库隆尼）…等，不难看出好莱坞的众多艺人也以「实际行动」支持着Lubell夫妻的「牛仔梦」。而不管是走在星光大道的红地毯或是充满阳光的海边，你都可以穿著牛仔裤，True Religion想要传递的就是穿著者自我个性的表露。
								
								贵的理由

								理由1：百分百的Made in America：坚持所有的制造程序皆在美国完成，人工的成本自然增加，但为了保持制作的水准，依旧不将代工东移。

								理由2：手工取代机器的装饰处理：不管是裤面的抽须抓破线条、缝线的装饰处理，甚是在秋冬款式上，还出现了大面积的刺绣图腾，皆以手工完成，因此其细腻繁复的作工，是无法用机器取代的。

								True Religion 牛仔是美国的高端牛仔裤，以追求细节的卓越著名：从引领时尚的启缝，到精美的绣花，到革命性的 vintage 水洗感觉的手工做旧，True Religion 牛仔在高端牛仔领域独领风骚。

								True Religion 最抢手的款式有 Joey Jeans、Bobby Jeans，和近期查理兹·塞隆 (Charlize Theron)、珍妮弗·洛佩兹 (Jennifer Lopez)、麦当娜 (Madonna) 频频穿着亮相的 Sammy Jeans，另外曝光率没那么高的 Johnny Jeans 也是要价不低，如果是遇到特殊的绣花、破洞等款式，更是价格不菲。

								究竟 True Religion 凭什么敢开天价呢？True Religion 在剪裁上的用心，相信穿上它便一目了然了，神奇的提臀瘦腿功力真的会让人舍不得脱下！True Religion 的裤档大部份在7寸和7寸以下，搭高跟鞋穿，你绝对是臀翘、腿长，身材一流！True Religion 舒适好搭的特性真可让人一条裤子走天下！而屁股的绣线花纹和部份款式盖扣口袋的设计，可以让臀部有缩小和变翘的视觉效果。

								要说让人有变身为明星名模的特殊感受，True Religion 的虚荣指数绝对名列第一名！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Diesel</string>
		<key>name</key>
		<string>Diesel</string>
		<key>detail</key>
		<string>								迪赛尔 (Diesel) 是著名的意大利牛仔时装品牌，由伦佐·罗索 (Renzo Rosso) 在1978年创立，一直是时尚与狂野的代名词，创立之时成为意大利时装企业“天才集团”(Genius ) 旗下14个品牌之一。Genius集团拥有Katherine Hamnett、Martin Guy、Ten Big Boys等流行品牌）。但当时的Diesel还不过是个二线品牌，价值700万美元。

								Diesel中文名：迪赛尔，Diesel原意是“柴油”，迪赛 (Diesel) 创始人伦佐·罗索 (Renzo Rosso) 解释品牌含义：“Diesel这个词短小精悍，叫起来朗朗上口，虽然有顾客以为我们是卖柴油机的，但这正是我们牛仔裤的内涵——活力四射，朝气蓬勃。”

								1985年，Renzo Rosso完全回购Diesel品牌，1989年，Diesel女装诞生。

								Diesel的风格年轻而富有创意，灵感都是来自于日常生活的点点滴滴，与潮流动向紧紧不分，恰如其分的应证了该品牌的年轻特性。

								Diesel针对不同消费群体推出了不同的系列：Diesel是一个以鲜明的“D”字母另人印象深刻的服装系列，主要是以牛仔材质设计男女服装。 
		
								DieselStyleLab系列则是以设计、布料和商品创意的高级休闲服装系列，针对追求新设计和喜爱穿着的消费群体。Diesel Kids是针对少年儿童的系列服装，产品充满明亮色彩，款式大胆、摩登。55DSL品牌则是一个强烈且独立的运动服装品牌，适合新时代，喜爱极限运动的运 动人士。

								Diesel自1991年起，在每季的产品广告上都打出“For Successful Living”的标语，并且以故事形式来包装其服装系列，每季讲述一个故事。现全球已超过10000个销售网点。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Citizen Of Humanity</string>
		<key>name</key>
		<string>Citizen Of Humanity</string>
		<key>detail</key>
		<string>								citizens of Humanity由同是7 for all mankind的设计师Jerome Dahan于2003年在美国加立佛尼亚创立；作为美国高档牛仔品牌的领导者之一，它以其传统风格，复古感觉，上乘质量和修身剪裁闻名于世界时尚圈。

								如果你是热爱丹宁的人，这个品牌的牛仔裤你不知道可不行，它可是最早踏入精品丹宁市场的先锋。citizens of Humanity以精品质感的低调形象为诉求，不主打花俏的季度刷色，也不以喧哗的特殊牛仔裤型为话题来营销。品牌专长以知性优雅的剪切，意大利及日本进口牛仔布料的舒适度以及自家独特的复古刷色见长，虽然在国内还没有特别流行这个品牌的仔裤，但是在丹宁界，绝对是龙头一样的品牌位置。

								品牌推崇“纯手工制作”，曾经放出了一只其牛仔裤制作过程的video，就是为了告诉大家，为什么我家牛仔裤可以卖这么贵！这段视频展示了牛仔裤制造过程中手工搓洗、激光作用、起毛工艺、手工擦拭、牛仔裤裁剪、修补工作及增加皮革补丁等环节。citizens of Humanity首创的前低后高的裤裆，让弯腰时不再怕后面屁屁的曝光，正面也足够时髦，包裹提臀的效果也很棒。虽然布料弹性一流，但是挺度也很够。说到CoH的裤型推荐，首推Rocket High Rise高腰仔裤型。这款是很多超模和明星的选择。

								Citizens of Humanity的牛仔裤系列拥有多种版型和颜色，它每个系列的牛仔裤裤袋后面都有根据此系列版型而改变的弯曲的H字样；近年来，它继续扩大其核心女装系列和2005年7月投向市场的男装系列。除了牛仔系列，它也拥有女式高档针织衫系列和孕妇牛仔系列。Citizens of Humanity和Seven类似，属于特别合身的类型。这也许和创建者曾经也是Seven的创建者之一有关。第一批Citizen产品于2003年投放市场，随后该品牌便在竞争激烈的高档牛仔市场占有了一席之地。Citizen以舒适合身的设计著称，很多款式都是比较薄的面料。一般腰比较高，适合各种身材的消费者。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Rock &amp; Republic</string>
		<key>name</key>
		<string>Rock &amp; Republic</string>
		<key>detail</key>
		<string>								Rock &amp; Republic 牛仔装 摇滚和平 (Rock&amp;Republic) 是大卫·贝克汉姆 (David Beckham) 和他的妻子维多利亚·贝克汉姆 (Victoria Beckham) 最爱的牛仔裤品牌。牛仔品牌摇滚和平(Rock&amp;Republic) 是美国近期业务增长最快的牛仔服装商之一，当然，价格也不菲。自创始以来，始终以其贵气的设计和同样贵气的价格享誉时尚圈，当然，它本身的高贵品质才是其长久屹立时尚圈的真正原因。

								近年，摇滚和平(Rock&amp;Republic) 联手维多利亚·贝克汉姆 (Victoria Beckham) ，推出命名为Victoria Beckham Jeans Rock Republic限量版牛仔裤，一经推出便引发抢购狂潮。连续两季在纽约推出轰动一时的时装秀，这一行为，又为摇滚和平 (Rock&amp;Republic) 增添更多美丽光环。 　　
								
								正如品牌名称所标示的那样，(Rock &amp; Republic)的牛仔裤向来不吝惜将大量夸张的图案，装饰在裤子任何一个你所能用肉眼看到的地方。但巧妙的设计就在于，即便你的视网膜里已经被这些震撼的图案所充斥，不过你绝对不会觉得很拥挤，反倒是超低腰的性感线条始终让人印象深刻。摇滚和平 (Rock&amp;Republic) 牛仔品牌以贴身剪裁著称，它追求营造如同肌肤般贴身的舒适感。狂野和性感也是它的标注。以女性为主要设计对象，在牛仔粗犷的风格中融入更多女性的柔媚，演绎了不一样的风情。


								摇滚和平 (Rock&amp;Republic) 是一个具有颠覆性的牛仔品牌，设计风格颇受摇滚乐的影响和激发。摇滚和平 (Rock&amp;Republic) 的拥有者迈克尔·勃尔 (Michael Ball) 这样评论：“在这次合作中，维多利亚·贝克汉姆 (Victoria Beckham) 和我将共同打造‘维多利亚·贝克汉姆 (Victoria Beckham) 设计的摇滚和平 (Rock&amp;Republic) ’系列。维多利亚·贝克汉姆 (Victoria Beckham) 知道怎样利用形象来表达自己。她不仅对最新时尚和潮流了如指掌，自己更是潮流的引导者，时尚界的偶像人物。”
								
								摇滚和平 (Rock&amp;Republic) 牛仔品牌以贴身剪裁著称，它追求营造如同肌肤般贴身的舒适感。狂野和性感也是它的标注。以女性为主要设计对象，在牛仔粗犷的风格中融入更多女性的柔媚，演绎了不一样的风情。

								摇滚和平 (Rock&amp;Republic) 设计主攻贴身造型，低腰裁剪，超级性感迷人，更受到好莱坞和美国时尚消费者的们的热捧。目前这个品牌的服装已经出现在了一些名人身上，如著名影星卡梅隆·迪亚兹 (Cameron Diaz) 、歌星亚瑟小子 (Usher Ramond) 、艾薇儿 (AvrilLavigne) 。

								牛仔是本世纪不变的流行，永远展现着都市中的自由观念。是干练与轻盈的代表，也是时尚与不落伍的代名词。Rock&amp;Republic牛仔在细节处理上玩花样，和新鲜的潮流密不可分，带给人不尽的惊喜，展现无人能敌的时尚冲击力和永不褪色的亲和力。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Joe’s Jeans</string>
		<key>name</key>
		<string>Joe’s Jeans</string>
		<key>detail</key>
		<string>								Joe&apos;s Jeans是美国一个主打牛仔的新创品牌，是由创意设计师琼•多兰（Joe Dahan）于2001年在洛杉矶创立的，现已成为了休闲时尚生活的代名词，被称作穿起来像睡裤一样舒服的牛仔裤。卡梅伦•迪亚兹（Cameron Diaz）、安吉丽娜•朱丽（Angelina Jolie）等时尚名人都是该品牌的忠实粉丝。

    								2014年，Joe’s Jeans推出过一款白色防污牛仔裤。这款牛仔裤由Joe’s Jeans的创始人兼创意设计师琼·多兰(Joe Dahan)设计，采用了一种新型的防污牛仔布料，可以抵挡污水、咖啡、饮料、酒等液体的浸污。这款牛仔裤系列有六种不同经典白色牛仔裤的款式，且均具有防水防污特性。这一创举让很多女性省去纯白易脏的烦恼，不用多次洗涤而导致变型，可谓给时尚懒人们提供了一个省钱又省力的妙招。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Paige Premium Denim</string>
		<key>name</key>
		<string>Paige Premium Denim</string>
		<key>detail</key>
		<string>								Paige，2004 年于洛杉矶推出时尚的牛仔品牌。牛仔的最大特点之一是百搭，无论是休闲的印花衬衫，老式工作服夹克，格子衬衫，工程师靴，或机车夹克, Paige 牛仔都能完美的与其搭配。Paige在各类不同消费者群中都很受欢迎
，Paige牛仔裤的腰部的内衬所采用的碎印花布，非常独特。该品牌的核心理念是：不是只有0号码的身材才适合穿品牌牛仔裤。

								Paige Denim 由Paige Adams-Geller 联合Michael Geller 和Michael Henschel 在2004年联合创立。凭借为多个高端牛仔服设计师品牌担任试衣模特逾十年的经验，Paige Adams-Geller 成为高端牛仔服行业内唯一的女性创始人，她同时是品牌的创意总监。成立至今Paige Denim 先后推出了女装、男装、孕妇装和小码系列，目前品牌在洛杉矶和纽约各设有3间独立门店，也在Intermix、Bergdorf Goodman、Harvey Nichols、Printemps 等精品百货公司和零售商以及Net-a-Porter 及Farfetch 等奢侈品电商发售。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>RRL</string>
		<key>name</key>
		<string>RRL</string>
		<key>detail</key>
		<string>品牌昵称：Sevens

品牌评价：洗掉粗豪感的美国牛仔。

发源地：美国加州

成立年份：2000年

官方网站：http://www.7forallmankind.com

品牌历史：

    				2000年的秋冬，在美国加州的一个小城市 Vernon，年轻的设计师 Peter Koral 已拥有自己的公司“Koral Industries”，事业得意。Peter 眼光敏锐， 发现一般人对牛仔裤的印象仍停留在耐穿和实用性上，却忽略了牛仔裤可以和时尚画上等号。Peter 在2000年创建了高端牛仔品牌 7 for All Mankind，设计出制作用料精堪、细节讲究的牛仔裤，所有布料皆进口自日本和欧洲，设计、剪裁、洗色、缝制等，一律在美国以人工完成，在好莱坞这个时尚汇集地立即吸引了明星名流的拥戴。有明星的示范效应， 7 for All Mankind 发展速度快得惊人，可算是当今时装界一颗最夺目耀眼、最令人惊喜的新彗星。

				7 for All Mankind 一开始只为女性设计，以恰到好处的合身线条、特殊刷色、透气材质以及对每个小细节的留意，完全颠覆人们对一般牛仔裤硬梆梆、刻板板的印象；除了剪裁修身，最值得一提的还有 7 for All Mankind 如水墨画晕染的特殊刷色，有一种中性的潇洒风味和人文气质，对于牛仔迷而言，这似乎更令人着迷。眼尖的人，甚至一望那刷色即可辨 识裤子出自7 for All Mankind 之手。2002年后，7 for All Mankind 也开始设计男性牛仔裤，小甜甜布兰妮就曾经被媒体拍到她和BF穿着同款 7 for All Mankind 裤子。

    				因为好莱坞明星爱穿，7 for all Mankind 已培养无数粉丝，主要特色在臀后，不同口袋代表不同裤型，共分五款，以靴型裤为主，还推出一中喇叭裤，剪裁强调包臀、中腰线，即使宽臀都穿的出”翘“丽曲线；Yanuk 以小喇叭与靴型裤为主，品牌目标是”让妳爱上自已臀部“！7 for all Mankind 除了有提臀神力之外，还爱玩刷旧脏污，后口袋常发展出各式不同形式的车线纹，甚至民俗风扑鼻的刺绣细节。至今，“7 for All Mankind”已在全球超过三十五个国家或地区有经销商。

    				牛仔裤的发源地是美国，涌现过不少经典牌子。但由于全球各地设计人才并起，令世界各地出现许多优质品牌，尤以意大利和日本最为突出。备受后进的威胁下，现今美国终于有一个主打高级时装市场的品牌了。洗去了美国味道的粗豪感，加添两三分欧洲时装感，这个美国品牌为美国牛仔裤开辟了一片新天空。

    				除去早先走红的女式牛仔以外，7 for all mankind 更添加了男式牛仔、童装、包包皮具系列，都很受欢迎。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Mister Freedom</string>
		<key>name</key>
		<string>Mister Freedom</string>
		<key>detail</key>
		<string>								Mister Freedom有些神秘，虽然最近名头大盛，但是多数人依然手握现钞不知道去哪里买。其实Mister Freedom就是一个热爱美式复古的法国佬在美国搞出的玩票作品。这家伙是个偏执狂，玩的就是100%原汁原味的复刻。不过不得不称赞人家法国人就是眼光毒，知道什么东西好，什么东西能火，搞出来的单品都极富有审美性。产品就这法国佬设计，然后由大名鼎鼎的日本东洋公司代工，算是美法日混血吧。

								一个热爱美式复古的法国人在得到日本复古品牌的增援合作后，你觉得你还斗得过他吗！况且，他还是一个逗逼。

								法国籍的 Christophe Loiron于1990年在美國的加州成立了零售商店兼设计工作室，经过13年的摸爬滚打正式确立了品牌的概念。

								逗逼的Christophe Loiron一直用作品向世人宣告：复古可以不古板不严肃，笑嘻嘻的一样可以走复古风。这一切，从官网中那些嘻哈照片中就不难发现。

								组过乐队，有美术功底，还会设计服装，再加上对复古文化的痴迷，Mister Freedom做出精湛的复古服装似乎是必然的！但Mister Freedom似乎更喜爱八国联军似的强强联合。在 SUGAR CANE这个玩儿了50年复古牛仔的日本品牌加入后，Mister Freedom无论是在产品质量上还是产品运营上都变得更加强大成熟了。用料讲究到极致，做工更是完美无缺，以至于Cory Piehowicz这位复古界元老对Mister Freedom也甚是喜爱。

								法国佬 ＋ 美式风格 ＋ 日本的严谨＝时尚复古！不跟风，不抄袭，韵味十足！但是价格太切糕了！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Rising Sun</string>
		<key>name</key>
		<string>Rising Sun</string>
		<key>detail</key>
		<string>								别误会这个Rising Sun可不是棒子国的东方神起，而是一个美国的store的名字。这个store是个复古狂人搞出来的，依然是票友精神，由着性子做自己喜欢的东西。店开在加州的Pasadena，对，就是谢耳朵住的城市。这家伙玩的就是复古精神，但产品却总有新意。Rising Sun &amp; Co. 是由设计师Mike Hodis于2008年创立的vintage牛仔裤品牌，位于美国加州的Pasadena。而Pasadena正是全美最大的古著（vintage clothing）跳蚤市场所在地。在自立门户品牌前，Hodis曾作爲大众商业品牌Lucky brand jeans（在美国规模很大）的设计总监多年。

								为了体现美国在19世纪末从东岸开发到西岸，一切皆由手工制作的一点一滴开垦的拓荒精神，Rising Sun的裤子从头到脚都是由Hodis一人缝制完成（所以售价相当高）加上他本人收藏的几十台union special和singer古董缝纫机，每条牛仔裤都是由vintage的机械完成制作，真的可谓是从骨子里透露出来vintage韵味。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Banana Republic</string>
		<key>name</key>
		<string>Banana Republic</string>
		<key>detail</key>
		<string>								Banana Republic香蕉共和国为GAP集团下比较偏向贵族风格，同时设计款式较为流行新颖，同时属于中高价位。为美国大众普遍接受且喜欢的品牌之一。
	
								与欧洲大牌的豪华浮夸设计不同，美国的Banana Republic(香蕉共和国)向来走的是极简约路线，不夸张无装饰，低调得让人吃惊。与高昂的价位形成对比的是Banana Republic的捧场客一直是骆绎不绝，高档的面料，极其合身的剪裁，独特的质感都让Banana Republic fans无法不上瘾:Banana Republic穿上身的感觉无比舒服，面料很薄不算紧身但是让人的形体非常棒……so hot，so sexy，Banana Republic那么简单的款式通过剪裁和面料达到超常的效果，简直是奇迹！

								BANANA REPUBLIC起源于1978年的美国加州，由夫妇Mel Ziegler和Patricia Ziegler创立，公司在1983年被Gap收购，由原来的提供旅游主题类服装转变为高档奢侈服饰。并提供了多样的服饰在时尚男装、女装的开发上，并成为美国时尚品牌。五年后开拓出服饰产品线，是美国服饰大厂GAP旗下的高单价品牌之一，早期的品牌定位单纯是旅行风格服饰，也就是专门设计给探险家以及旅游爱好者的服饰。由于这样的产品路线定位过于狭窄，因此从1992年开始，BANANA REPUBLIC请来当时最顶尖的设计师进行品牌形象改造，从特定专业服饰蜕变成美国都市简约风格的代表品牌，除了让当时穿着较为严肃保守的上班族惊艳之外，演艺界人士更是趋之若鹜，因为它能既休闲又不失正式，而且穿着舒适，也难怪会成为美国都市简约风的第一把交椅！
Gap将Banana Republic定位成高价位的高档品牌，销售对象主要是白领阶级，进而设计出高贵、时尚并典雅的服装，并且很快地跨足到眼镜、香水、保养品、珠宝等领域；短短五年的时间，全美即有约一百家店铺。与欧洲品牌豪华浮夸的设计不同，Banana Republic走的一向是简约的都会休闲风—无夸张的装饰，低调且经典。Banana Republic自诩为一高贵奢华，却又容易亲近的时尚品牌，提供都会人一个高质感服饰与配件的精致选择。截至2011年4月30日为止，Banana Republic在全球拥有逾六百家分店，包含611家直营店铺，以及31间加盟分店。

								原来的Banana Republic是由梅尔·齐格勒与派翠西亚·齐格勒于1978年所创立的。当时是一间拥有两家分店并以游猎为主题的服装公司。曾透过有着奇特风格的手绘邮购型录销售其大多数商品，其中引进高档且独特的品项，每项物品通常皆有以充满异国风情的地区为背景的虚构故事，类似的故事情境也被刻意地添加在其他基本款式的产品中。随着零售业务的扩大，Banana Republic成了远近驰名的主题装饰商店，当中不乏风格地道的装饰物品，如真实的吉普车和簇叶，以及能渲染店内气氛的装饰元素，如雾和蒸汽。

								Gap于1983年收购Banana Republic，至终将其转型以奢华为主流的服饰零售商。以旅游为导向的奇特商品被淘汰，取而代之的是较为奢华，但不过份独特的物件，也就是目前众所周知的样貌。为要将自身的品牌形象定位成较Gap为高的档次，Banana Republic偶尔会购买并整修历史建筑，以作为其零售服务的据点。虽然，这么一来不仅扩大了Banana Republic的吸引力，也是了一项有效的经营策略，但也使得从前的爱好者认为Banana Republic已成为了资产阶级的代名词。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>PRPS</string>
		<key>name</key>
		<string>PRPS</string>
		<key>detail</key>
		<string>								Prps是[Purpose]的意思命名,标签上写的是&quot;紫制品&quot;。

								PRPS总部位于纽约的公司是由兄弟二人Emmett Harrel 和Donwan Harrel创立的牛仔裤品牌，Donwan Harrel以前是Nike的设计师，因为Donwan Harrel本身就是超级牛仔裤发烧友，所以每条Prps的出品更是好像艺术品一样。

								Prps的水洗牛仔裤是用最传统的人手水洗及染色工序，精密的做工加上津巴布韦的优质棉花，还有运用了Levi’s60年代的古董织布机的极高品质，再加上时尚的做工，成为了它在牛仔裤世界立足的条件。

								在日本工匠们采用60年代的织布工艺，每一寸布都十分珍贵，曾经是Levi’s生产牛仔使用的。同现代的织布工艺相比，这种古典而守旧的织布机生产的布料具有更强烈造型，这也是牛仔昂贵的一个原因。Harrell说这套工艺灵感来源于淘金工人穿着的牛仔，每生产一条仔裤的成本就在100美元以上。很多年前认为做水洗牛最好的品牌是日本的 Neighborhood 和 LEVIS LVC.但是不断的复刻,复刻,再复刻, 没有太多新元素加入。因为这些依照销量的品牌会考虑到销售以及盈利方面的因素,不会做太过去奢华的,工艺太过强悍的牛仔裤。所以当狂热的爱好者们第一次接触到PRPS这个品牌, 就被PRPS的牛仔裤处理工艺完全征服,
因为这个品牌是完全脱离市场因素的困扰,Donwan Harrel把自己对于牛仔裤所有的追求全部融入其中。
它
								的水洗太过于完美,过渡极其自然, 年代感控制的恰到好处. 每一款都非常值得把玩,都有其鲜明的特点。把水洗牛仔裤的所有工艺发挥到淋漓尽致，颓废, 磨破, 做旧 ,超强水洗,油漆匠, 铜钉 ,低调的紫色标签, 玩味的天使皮牌, 经典无比的多色门襟纽扣,津巴布韦棉花，值得把玩的细节简直太多太多...

								PRPS所有加工流程在日本完成，由于产量很少，销售地也很少，价格也很高，带耳的原色仔裤最便宜也要300美元左右，洗水的最贵有卖到700多美元。

								Prps贵在真实。一条牛仔裤最美的就是自然的落色，显然Prps是深知这一点的，所以它洗水做旧做得非常到位，而且，还加入了一些时尚元素，使得它不陈旧于历史，而是成为擦亮历史的点缀。一条上好的原色牛，买价大概1800，穿成Prps那样灿烂的成色，需要2年左右。那么，Prps卖3400（上海据说卖到6000以上），贵吗，至少两年的时间远高于1600这个价格，所以，它是值得珍藏的。Diesel感觉很风骚，但却没有Prps那么自恋。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nudie</string>
		<key>name</key>
		<string>Nudie</string>
		<key>detail</key>
		<string>								来自北欧的 Nudie 是一个相对小众的牛仔裤品牌，从它的名称释义&quot;naked truth about denim”不难看出它的品牌意境，即——不走夸张繁复的浮华路线，而追求牛仔裤最原始的本色美，也正因如此，Nudie 最出名的拳头产品就是原牛，凭借出色的剪裁和落色，Nudie 的原牛能在时间的流淌中逐渐升华，带给养牛玩家最大的乐趣。

								Nudie 以修身剪裁的裤型见长，极少数的直筒裤型也大多呈现出尾锥的曲线而不是呆板的传统直筒，足见 Nudie 对剪裁的精心钻研。Nudie 紧贴肌肤的剪裁方式，可以近乎完美的修饰出腿形，对臀部的包裹也非常恰到好处。 但并不代表说 Nudie 就是修身，实际上 Nudie 的裤型很多，只不过在修身的卖得比较好而已。 Nudie 也出过带巴黎扣的复刻款，也出过 18OZ 重磅的玩票款。

								为了确保质量，Nudie 坚持选用意大利出产的顶级丹宁布或者日本高级手工纺布进行制作，最近也开始尝试改用有机棉织成布料，安全无污染的同时，肌肤触感更为轻薄、柔软。挑选 Nudie Jeans 牛仔裤的时候，像 Slim Jim、Thin Finn、Tight Long John 等几款型号都是不错的选择。

								而且 Nudie 的官网也做的相当美式，记录了许多养牛的真实故事，更复刻过死忠养牛玩家的经典养牛作品，并以限量发售的形式向这些玩家的原牛致敬。在官网中有些原牛的模特效果图中，Nudie 甚至为了提倡玩家养牛，还同时配上了这条原牛被养过几个月之后的效果图，所以对于钟情于养牛的玩家来说，Nudie 是一个绝对值得细细品味的品牌。玩牛，可以从 Nudie 开始。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G-Star RAW</string>
		<key>name</key>
		<string>G-STAR</string>
		<key>detail</key>
		<string>								G-STAR从1989年就开始横行于荷兰与比利时，只是当时是以Gapstar为名，到了1994年才正式更名为G-STAR。

								要认识G-STAR可不得不从其“原粗胚丹宁布”开始讲起，也就是以丹宁为核心，采用古拙法来制作牛仔裤。G-STAR凭着强势的行销手法，很快地在世界各地建立起紧密的销售网。在设计上G-STAR也有大幅度的突破，除了类似的基本款直筒裤之外，还有工作裤和喇叭裤等款式。G-STAR目前不仅生产各式牛仔裤，从Raw Deneim出发的概念灌注在其他街头风格的服饰设计中，在世界各大城市贩卖街头服装的店都可以找到G-STAR的踪迹。 与北美以及受北美影响的日韩休闲服的宽松潮流不同，欧洲的休闲服讲究适意与优雅。来自荷兰的G-STAR设计前卫独特，

								最能勾画出年轻人活力动感，予人强烈的街头风格。有人说G-STAR牛仔系列是后501的产品。在设计上，G-STAR有大幅度的突破，除了类似501的基本款直筒裤外，还有工作裤和喇叭裤等款，将501彻底解构。G-STAR并非那种会在米兰、巴黎时装伸展台上看到的设计师品牌，街头风格和基本款是它的精神，其鲜亮的个性使其成为经典。

								G-STAR作为牛仔裤的专家，非常重视每件产品的质素，故此不断努力不懈地钻研，提高技术之余，也注重创意。每季新款推陈出新，对面料的精心挑选，开时尚风气之先河。IERRE MORISSER于国际休闲服设计上享负盛名，除知识渊博外，他还创意无限，为G-STAR服饰设计上加注了不少创新的理念，并令G-STAR在世界服装界上建立了鲜明的形象。

								1996年G-STAR首次推出RAW DENIM系列，并于德国举行的国际牛仔时装展获得高度赞赏，被瞩为牛仔裤的一大突破。

								RAW DENIM并非G-STAR首创，凡未经处理的牛仔布都可称为RAW DENIM早期的问题在于缩水较大，最终G-STAR采用了&quot;SANFORIZE&quot;的方法来处理，令布料定型。减少缩水度，解决了缩水问题，现客人便不用买大两号以内缩水的烦恼。所有G-STAR的牛仔裤（布）都注明&quot;USA DENIM&quot;，这并不是美国制造的牛仔布，而是采用来自美国种植的棉花，用美国与欧洲的棉花，不同之处在于染色出来的效果美国的可以更蓝更白，而欧洲的蓝与白会有点儿带灰，故特别选用美国棉花。</string>
	</dict>
</array>
</plist>
