<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DenimDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A90DFA21D81AB8300EA8E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A90DFBB1D81AB8300EA8E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A90DFC61D81AB8400EA8E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
